@use '../styles/variables' as *;
@use '../styles/buttons' as *;

.app-section {
    width: 100%;
    background-color: $bg-primary;
    display: grid;
    grid-template-columns: 160px auto;
    height: 100vh;
}

.navbar {
    background-color: $bg-dark;
    color: $text-secondary;
    padding: 3rem 0.8rem 2rem 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.brand {
    color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid $primary;
    border-radius: $radius-lg;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-item {
    border-radius: 25px;
    width: auto;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}

.nav-text{
    line-height: 110%;
}

.active {
    color: $text-white;
    background-color: $bg-secondary;
    transition: $transition;
}